#ifndef DMS_S3_SECRETS_H
#define DMS_S3_SECRETS_H

#define DMS_WIFI_SSID "YOUR_WIFI_SSID"
#define DMS_WIFI_PASSWORD "YOUR_WIFI_PASSWORD"
#define DMS_MQTT_BROKER_URL "mqtt://YOUR_MQTT_BROKER"

#endif /* DMS_S3_SECRETS_H */
