# ── 芯片 - 使用PSRAM ──
CONFIG_IDF_TARGET_ESP32=y
CONFIG_ESP32_XTAL_FREQ_40=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y

# ── Flash 4MB ──
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_40M=y

# ── 日志 ──
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# ── PSRAM (ESP32-CAM 摄像头帧缓冲需要) ──
CONFIG_SPIRAM=y
CONFIG_SPIRAM_BOOT_INIT=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_TYPE_AUTO=y
CONFIG_SPIRAM_SPEED_40M=y
